@model IEnumerable<WETwebApp.Models.Bathroom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BathroomType.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Household.WPnumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BathroomQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToiletQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SingleToiletQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DualToiletQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Electric)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Power)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mixer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unknown)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Threaded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NonThreaded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BathroomType.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Household.WPnumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BathroomQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToiletQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SingleToiletQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DualToiletQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Electric)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Power)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mixer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unknown)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Round)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Threaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NonThreaded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BathroomID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BathroomID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BathroomID })
        </td>
    </tr>
}

</table>
