@model IEnumerable<WETwebApp.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Advisor.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Visit.VisitID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedVisitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttemptNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Advisor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Visit.VisitID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedVisitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttemptNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BookingID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BookingID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BookingID })
        </td>
    </tr>
}

</table>
