@model WETwebApp.Models.Attitude

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attitude</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Household.WPnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.WPnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WashingMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WashingMachine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dishwasher)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dishwasher)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WashingLow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WashingLow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DishwashLow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishwashLow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WashingEff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WashingEff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DishwasherEff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishwasherEff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kettle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kettle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TapsOff)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TapsOff)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WashingBowl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WashingBowl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RinsingBowl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RinsingBowl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TapsFlow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TapsFlow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoKitchen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoKitchen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherKitchen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherKitchen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoFlush)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoFlush)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LowFlush)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowFlush)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CDD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LowShower)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowShower)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TapsOffBrush)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TapsOffBrush)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowersNotBaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowersNotBaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LessBathWater)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LessBathWater)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShorterShowers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShorterShowers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TapsFlowBath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TapsFlowBath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoBathroom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoBathroom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherBath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherBath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterButt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterButt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterCan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterCan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoHosepipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoHosepipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoWaterLawn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoWaterLawn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoGarden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoGarden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherGarden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherGarden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttitudeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
