@model WETwebApp.Models.GasSupplier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GasSupplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GasSupplierType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GasSupplierType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Household.WPnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.WPnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GasSupplierID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
