@model WETwebApp.Models.Household

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Household</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Developer.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseholdType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseholdType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WPnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WPnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HESarea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HESarea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HESbatch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HESbatch)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonitorStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonitorStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstReading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstReading)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
