@model WETwebApp.Models.HouseholdInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HouseholdInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElectricitySupplierType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricitySupplierType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GasSupplierType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GasSupplierType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeatingSystemType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeatingSystemType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Household.WPnumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Household.WPnumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseholdDescriptionType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseholdDescriptionType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelevisionSupplierType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelevisionSupplierType.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternetAccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternetAccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HouseholdNotes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HouseholdNotes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HouseholdInformationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
